In [23]:
import pandas as pd
fname = "D:/Study PDF/Python/datasets/datasets/Players.csv"
from itertools import combinations

##### We have imported the pandas package and combinations package for our project

##### Lets read the csv file into the dataframe and retrieve the first 5 records from the dataframe

In [24]:
df = pd.read_csv(fname)
df.head()

      Player_Name        DOB Batting_Hand         Bowling_Skill Country
0  A Ashish Reddy  24-Feb-91   Right_Hand      Right-arm medium   India
1      A Chandila  05-Dec-83   Right_Hand    Right-arm offbreak   India
2        A Chopra  19-Sep-77   Right_Hand    Right-arm offbreak   India
3     A Choudhary        NaN   Right_hand  Left-arm fast-medium     NaN
4     A Dananjaya        NaN   Right_Hand    Right-arm offbreak     NaN

##### Lets find out the null values column wise

In [25]:
df1 = df.isnull().sum()
df1[df1 > 0].sort_values(ascending = False)

DOB              95
Country          95
Bowling_Skill    64
Batting_Hand      3
dtype: int64

##### Here we calculated the total number of the players country wise

In [35]:
df['Country'].value_counts()

India           264
Australia        72
South Africa     39
New Zealand      22
Sri Lanka        20
West Indies      19
England          14
Pakistan         13
Bangladesh        5
Zimbabwea         2
Netherlands       1
Name: Country, dtype: int64

##### Lets create the dataframe for indian players

In [32]:
team_india = df.loc[df['Country'] == 'India']

In [34]:
team_india

        Player_Name        DOB Batting_Hand           Bowling_Skill Country
0    A Ashish Reddy  24-Feb-91   Right_Hand        Right-arm medium   India
1        A Chandila  05-Dec-83   Right_Hand      Right-arm offbreak   India
2          A Chopra  19-Sep-77   Right_Hand      Right-arm offbreak   India
8          A Kumble  17-Oct-70   Right_Hand         Legbreak googly   India
9          A Mishra  24-Nov-82   Right_Hand                Legbreak   India
..              ...        ...          ...                     ...     ...
560       YK Pathan  17-Nov-82   Right_Hand      Right-arm offbreak   India
562       YS Chahal  23-Jul-90   Right_Hand         Legbreak googly   India
563    Yuvraj Singh  12-Dec-81    Left_Hand  Slow left-arm orthodox   India
564     YV Takawale  05-Nov-84   Right_Hand                     NaN   India
565          Z Khan  07-Oct-78   Right_Hand    Left-arm fast-medium   India

[264 rows x 5 columns]

##### Lets check for the null values for indian players

In [41]:
n = team_india.isnull().sum()
n[n > 0].sort_values(ascending = False)

Bowling_Skill    31
dtype: int64

##### Their 31 null values present in column blowing_skill but we dont need that column for our analysis so lets ignore it for now

In [49]:
player_df = pd.DataFrame(combinations(team_india['Player_Name'],2), columns = ['Player 1','Player 2'])
DOB_df = pd.DataFrame(combinations(team_india['DOB'],2), columns = ['DOB-1','DOB-2'])

In [48]:
team_india1 = pd.concat([player_df,DOB_df],axis = 1)

In [54]:
team_india1[team_india1['DOB-1'] == team_india1['DOB-2']]

       Player 1   Player 2      DOB-1      DOB-2
1811   A Mukund    Y Nagar  06-Jan-90  06-Jan-90
6250   AN Ahmed    V Kohli  05-Nov-88  05-Nov-88
29969  R Sharma  RG Sharma  30-Apr-87  30-Apr-87